.vscode/*
DataBooks/1976_National_TTL_Databook.pdf
DataBooks/1985_Fairchild_Discrete_Data_Book.pdf
DataBooks/MonolithicMemories-MMI-BipolarLSI1982DatabookOCR.pdf
DataBooks/Supplement to The TTL Data Book for Design Engineers_2nd_Edition.pdf
DataBooks/fairchild_1987_linear_data_book.pdf
DataBooks/1979_Intersil_Data_Book.pdf
DataBooks/1987_DATA_Book_Diodes_Edition_54.pdf
server.py
