*{
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: nowrap;
}
body{
    overflow:hidden;
    margin:0;
    background-color: #323639;
}
#left{
    float:left;
    width: 25%;
    height:100vh;
    display: flex;
    flex-direction: column;
    border-style: none;
    box-shadow: 1px 0px 5px #00000080;
    background-color: #323639;
    z-index: 1;
}
#list{
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0;
    padding-top: 10;
    padding-right: 10;
    margin-bottom: 0;
    margin-left: -20;
    color: white;
    font-family: sans-serif;
    height: 100%;
}
#splitter{
    cursor: col-resize;
    width: 5px;
    height: 100vh;
    position: absolute;
    left: 25%;
}
#pdfViewer{
    /*
    height: 100%;
    object-fit: contain;
    */
    display: block;
    width: 75%;
    height:100vh;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    border-style: none;
}
.pdflink{
    /*text-decoration: underline;*/
    color: gainsboro;
}
.pdflink:hover {
    cursor:pointer;
    
    text-decoration: underline;
    color: #8ab4f8;
    /*background-color: aliceblue;*/
}
.pdflink .tooltip {
    visibility: hidden;
    width: auto;
    background-color: cornsilk;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
    box-shadow: 2px 2px 2px #00000080;
    position: absolute;
}

.pdflink:hover .tooltip{
    visibility: visible;
}
#searchbar{
    min-height: 56px;
    border-style: none;
    box-shadow: 1px 1px 5px #00000080;
    color: white;
    font-size: large;
    padding: 10 20 10 20;
    background-color: #323639;
}
textarea:focus, input:focus {
    outline: none;
}

/* Testing ground */
/*
body {
    background-color: #2a2a2e;
}
#left {
    background-color: #323234;
    box-shadow: 1px 0px 0px #0c0c0d;
}
#list {
    color: #f9f9fa;
}
.pdflink {
    color: #c4c4c5;
    border-radius: 3px;
    padding-left: 5px;
    margin-left: -5;
}
.pdflink:hover {
    color: #c4c4c5;
    background-color: #666667;
    cursor: default;
}
#searchbar {
    min-height: 32px;
    max-height: 32px;
    box-shadow: 1px 1px 0px #0c0c0d;
    background-color: #38383d;
    color: #f9f9fa;
    font-size: medium;
}
*/
